{* Smarty *}

{extends file="framework.html"}

{block name=css}{/block}

{block name=page}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header frobo fw300"><i class="fa fa-cubes"></i>&nbsp;Base Editor</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{if isset($notifs.base_added)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info" role="alert">You Base is now added to Server. Please use the generated Base ID and AES-Key and program your Base hardware with it.<br />Make sure you link at least one Client or you will not be able to access it.</div>
  </div>
</div>
{/if}
{if isset($notifs.key_generated)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-warning" role="alert">New AES-128 Key has been generated! Please update your hardware to use this new encryption key!<br />
    AES-128 Key: <strong>{$data.crypt_key}</strong>
    </div>
  </div>
</div>
{/if}
{if isset($notifs.queue_flushed)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-warning" role="alert">All pending messages to this Base were flushed.</div>
  </div>
</div>
{/if}
{if isset($notifs.no_logfile)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-danger" role="alert">No log file is available for this Base just yet.</div>
  </div>
</div>
{/if}
{if isset($notifs.regen_done)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-warning" role="alert">New Base ID has been generated! You should change it in your hardware now and force it to re-connect!<br />
    Base ID: <strong>{$data.baseid}</strong>
    </div>
  </div>
</div>
{/if}

<form class="form-horizontal" role="form" method="post" action="index.php">
<input type="hidden" name="w" value="base">
<input type="hidden" name="s" value="save">
<input type="hidden" name="IDbase" value="{$data.IDbase}">

<div class="row">
  <div class="col-lg-12">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs ctrl-navbar-bottom-space" role="tablist">
        <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
        <li role="presentation"><a href="#server-extensions" aria-controls="server-extensions" role="tab" data-toggle="tab">Server Extensions</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="main">

          <div class="form-horizontal" role="form">

            <div class="form-group">
              <label for="basename" class="col-sm-2 control-label">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="basename" name="basename" placeholder="Name your Base" value="{$data.basename}">
              </div>
            </div>
            <div class="form-group">
              <label for="baseid" class="col-sm-2 control-label">Base ID:</label>
              <div class="col-sm-10">

  {if $data.IDbase > 0}
                <div class="input-group">
                  <input type="text" class="form-control" id="baseid" name="baseid" value="{$data.baseid}" readonly="readonly">
                  <span class="input-group-btn">
                    <a class="btn btn-danger" href="?w=base&s=regenbaseid&IDbase={$data.IDbase}" onclick="javascript:if(!confirm('Are you sure you want to change Base ID ?')) { return false; }"><i class="glyphicon glyphicon-random"></i>&nbsp;Re-generate</a>
                  </span>
                </div>
  {else}
                <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
                  <span class="text-muted">
                  Base ID will be automatically generated after you finish adding this new Base!
                  </span>
                </span>
  {/if}

              </div>
            </div>
            <div class="form-group">
              <label for="crypt_key" class="col-sm-2 control-label">AES-128 Key:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="crypt_key" name="crypt_key" placeholder="Enter 32 hexadecimal characters, or leave blank to generate the key randomly" value="{$data.crypt_key}">
              </div>
            </div>
            <div class="form-group">
              <label for="timezone" class="col-sm-2 control-label">Timezone offset:</label>
              <div class="col-sm-10">

                <div class="input-group">
                  <input type="text" class="form-control" id="timezone" name="timezone" placeholder="Timezone offset" value="{$data.timezone}">
                  <span class="input-group-addon">minutes</span>
                </div>

                <span class="text-muted">Offset is in minutes, e.g.: -120. Current time on server is: <strong>{$current_time}</strong> and with offset of {$data.timezone}, time is: <strong>{$offset_time}</strong></span>

              </div>
            </div>
            <div class="form-group">
              <label for="IDclient" class="col-sm-2 control-label">Linked Clients:</label>
              <div class="col-sm-10">
                <select name="IDclient[]" id="IDclient" size="4" multiple class="form-control">
                  {html_options values=$IDclient_val output=$IDclient_opt selected=$IDclient_sel}
                </select>
                <span class="text-muted"><em>Use CTRL key to select multiple Clients</em></span>
              </div>
            </div>

  {if $data.IDbase > 0}
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Sequence No:</label>
              <div class="col-sm-10">
                <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
                TXbase: <span class="badge {if $data.TXbase > 1000000}alert-danger{else}alert-success{/if}">{$data.TXbase}</span>
                {if $data.online == 1}
                  <em>Base is currently online, so this value is the one we had on Bases last disconnect.</em>
                {/if}
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Pending Messages:</label>
              <div class="col-sm-10">
                {if $data.pending_messages > 0}
                <a class="btn btn-danger" href="?w=base&s=flush&IDbase={$data.IDbase}" onclick="javascript:if(!confirm('Are you sure you want to flush the TX Queue ?')) { return false; }">Flush ({$data.pending_messages})</a>
                {else}
                <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
                  <span class="text-muted">
                  Great, no pending messages!
                  </span>
                </span>
                {/if}
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Server LOG:</label>
              <div class="col-sm-10">
                {if $log_available}
                <a class="btn btn-info" href="?w=base&s=getlog&IDbase={$data.IDbase}" target="_blank">Download</a>
                {else}
                <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
                  <span class="text-muted">
                  When the Base connects for the first time the log file will be created. Now it is just empty.
                  </span>
                </span>
                {/if}
              </div>
            </div>
  {/if}

          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="server-extensions">

          <!-- list of installed/available Server Extensions -->
          <ul class="nav nav-pills nav-stacked col-sm-2" id="nav2">
              <li class="active"><a href="#tabSE_AndroidGCM" data-toggle="pill">Android GCM</a></li>
          </ul>

          <!-- tabs of Server Extensions -->
          <div class="tab-content col-sm-10 ctrl-tab-content-pills-nopadd">

              <!-- tab for Android GCM Server Extensions -->
              <div class="tab-pane active" id="tabSE_AndroidGCM">
                <div class="form-horizontal" role="form">

                  <div class="form-group ctrl-nobottmargin">
                    <div class="col-lg-12">
                      <div role="alert" class="alert alert-info">In this section you can configure on which Base events will CTRL-Server send Android Push Notifications to each Android Client who is currently offline.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="se_android_gcm_conndisconnevent" class="control-label"><input id="se_android_gcm_conndisconnevent" name="se_android_gcm_conndisconnevent" type="checkbox"> Status Change Event</label> - If enabled, CTRL-Server will send Notification to Android app each time this Base gets connected or disconnected from the CTRL-Server.
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="se_android_gcm_newdataevent" class="control-label"><input id="se_android_gcm_newdataevent" name="se_android_gcm_newdataevent" type="checkbox"> New Data Event</label> - If enabled, CTRL-Server will send Notification to Android app each time this Base sends New Data to its associated Clients.
                    </div>
                  </div>

                  <div class="bs-callout bs-callout-warning">
                    <h4>Client override</h4>
                    Keep in mind that each Client can be independently configured not to receive these notifications! To configure each Client visit the Clients section.
                  </div>

                </div>
              </div>

          </div>

        </div>

      </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <hr class="fol-slim-hr">
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <div class="col-lg-12">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-save"></span>&nbsp;{if $data.IDbase > 0}Save Changes{else}Add Base{/if}</button>
      </div>
    </div>
  </div>
</div>

</form>
{/block}

{block name=javascripts}{/block}