{* Smarty *}

{extends file="framework.html"}

{block name=css}{/block}

{block name=page}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header frobo fw300"><i class="fa fa-users"></i>&nbsp;Client Editor</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{if isset($notifs.client_added)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info" role="alert">You Client is now added to Server. Please use the generated Auth Token to gain access to Client services.</div>
  </div>
</div>
{/if}
{if isset($notifs.queue_flushed)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-warning" role="alert">All pending messages to this Client were flushed.</div>
  </div>
</div>
{/if}
{if isset($notifs.no_logfile)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-danger" role="alert">No log file is available for this Client just yet.</div>
  </div>
</div>
{/if}
{if isset($notifs.regen_done)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-warning" role="alert">New Auth Token has been generated! You should update every App that was using it to this new Auth Token!<br />
    Auth Token: <strong>{$data.auth_token}</strong>
    </div>
  </div>
</div>
{/if}

<form class="form-horizontal" role="form" method="post" action="index.php">
<input type="hidden" name="w" value="client">
<input type="hidden" name="s" value="save">
<input type="hidden" name="IDclient" value="{$data.IDclient}">

<div class="row">
  <div class="col-lg-12">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs ctrl-navbar-bottom-space" role="tablist">
        <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
        <li role="presentation"><a href="#server-extensions" aria-controls="server-extensions" role="tab" data-toggle="tab">Server Extensions</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="main">

          <div class="form-horizontal" role="form">

      <div class="form-group">
        <label for="clientname" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="clientname" name="clientname" placeholder="Name your Client" value="{$data.clientname}">
        </div>
      </div>
      <div class="form-group">
        <label for="auth_token" class="col-sm-2 control-label">Auth Token:</label>
        <div class="col-sm-10">

{if $data.IDclient > 0}
          <div class="input-group">
            <input type="text" class="form-control" id="auth_token" name="auth_token" value="{$data.auth_token}" readonly="readonly">
            <span class="input-group-btn">
              <a class="btn btn-danger" href="?w=client&s=regenauthtoken&IDclient={$data.IDclient}" onclick="javascript:if(!confirm('Are you sure you want to change Auth Token ?')) { return false; }"><i class="glyphicon glyphicon-random"></i>&nbsp;Re-generate</a>
            </span>
          </div>
{else}
          <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
            <span class="text-muted">
            Auth Token will be automatically generated after you finish adding this new Client!
            </span>
          </span>
{/if}

        </div>
      </div>

{if $data.IDclient > 0}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <img src="index.php?w=client&s=qrcode&IDclient={$data.IDclient}" border="0">
        </div>
      </div>
{/if}

      <div class="form-group">
        <label for="IDbase" class="col-sm-2 control-label">Linked Bases:</label>
        <div class="col-sm-10">
          <select name="IDbase[]" id="IDbase" size="10" multiple class="form-control">
            {html_options values=$IDbase_val output=$IDbase_opt selected=$IDbase_sel}
          </select>
          <span class="text-muted"><em>Use CTRL key to select multiple Bases</em></span>
        </div>
      </div>

{if $data.IDclient > 0}

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Current Sequence No:</label>
        <div class="col-sm-10">
          <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
          TXclient: <span class="badge {if $data.TXclient > 1000000}alert-danger{else}alert-success{/if}">{$data.TXclient}</span>
          {if $data.online == 1}
            <em>Client is currently online, so this value is the one we had on Clients last disconnect.</em>
          {/if}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Pending Messages:</label>
        <div class="col-sm-10">
          {if $data.pending_messages > 0}
          <a class="btn btn-danger" href="?w=client&s=flush&IDclient={$data.IDclient}" onclick="javascript:if(!confirm('Are you sure you want to flush the TX Queue ?')) { return false; }">Flush ({$data.pending_messages})</a>
          {else}
          <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
            <span class="text-muted">
            Great, no pending messages!
            </span>
          </span>
          {/if}
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Server LOG:</label>
        <div class="col-sm-10">
          {if $log_available}
          <a class="btn btn-info" href="?w=client&s=getlog&IDclient={$data.IDclient}" target="_blank">Download</a>
          {else}
          <span class="form-control" style="box-shadow: none !important; border: none !important; padding-left: 0px !important">
            <span class="text-muted">
            When the Client connects for the first time the log file will be created. Now it is just empty.
            </span>
          </span>
          {/if}
        </div>
      </div>

{/if}

          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="server-extensions">

{if $server_extensions_count <= 0}
          <div role="alert" class="alert alert-info">No Server Extensions installed.</div>
{else}
          <!-- list of installed/available Server Extensions -->
          <ul class="nav nav-pills nav-stacked col-sm-2" id="nav2">
              {if isset($se_android_gcm)}
              <li class="active"><a href="#tabSE_AndroidGCM" data-toggle="pill">Android GCM</a></li>
              {/if}
          </ul>

          <!-- tabs of Server Extensions -->
          <div class="tab-content col-sm-10 ctrl-tab-content-pills-nopadd">

              <!-- tab for Android GCM Server Extensions -->
              {if isset($se_android_gcm)}
              <div class="tab-pane active" id="tabSE_AndroidGCM">
                <div class="form-horizontal" role="form">

                  <div class="form-group ctrl-nobottmargin">
                    <div class="col-lg-12">
                      <div role="alert" class="alert alert-info">In this section you can configure on which Base events will CTRL-Server send Android Push Notifications to this Android Client who is currently offline.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="se_android_gcm_disable_status_change_event" class="control-label"><input id="se_android_gcm_disable_status_change_event" name="se_android_gcm_disable_status_change_event" value="1" type="checkbox" {if $data.se_android_gcm_disable_status_change_event eq '1'}checked{/if}> Disable Status Change Event</label> - If not checked, CTRL-Server will send Notification to Android app using this Client each time any associated Base gets connected or disconnected from the CTRL-Server.
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="se_android_gcm_disable_new_data_event" class="control-label"><input id="se_android_gcm_disable_new_data_event" name="se_android_gcm_disable_new_data_event" value="1" type="checkbox" {if $data.se_android_gcm_disable_new_data_event eq '1'}checked{/if}> Disable New Data Event</label> - If not checked, CTRL-Server will send Notification to Android app using this Client each time any associated Base sends New Data to this Clients.
                    </div>
                  </div>

                  <div class="bs-callout bs-callout-warning">
                    <h4>Base override</h4>
                    Keep in mind that each Base can be independently configured not to send these notifications! To configure each Base visit the Bases section.
                  </div>

                </div>
              </div>
              {/if}

          </div>
{/if}

        </div>

      </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <hr class="fol-slim-hr">
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <div class="col-lg-12">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-save"></span>&nbsp;{if $data.IDclient > 0}Save Changes{else}Add Client{/if}</button>
      </div>
    </div>
  </div>
</div>

</form>
{/block}

{block name=javascripts}{/block}