{* Smarty *}

{extends file="framework.html"}

{block name=css}{/block}

{block name=page}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header frobo fw300"><i class="fa fa-users"></i>&nbsp;Clients</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{if isset($notifs.client_deleted)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      Client deleted from Server!
    </div>
  </div>
</div>
{/if}
{if isset($notifs.client_updated)}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      Client information updated.
    </div>
  </div>
</div>
{/if}
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed ctrl-table-colorhead ctrl-table-clickable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Auth Token</th>
            <th class="text-center">Online</th>
            <th>Last Connected On</th>
            <th class="text-center">Last Sequence No</th>
            <th class="text-center">Linked Bases</th>
            <th class="text-center">Pending Messages</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
					{foreach from=$data item="entry"}
					<tr onclick="javascript:location.href='?w=client&s=edit&IDclient={$entry.IDclient}';">
						<td>{$entry.clientname|escape}</td>
						<td><code>{$entry.auth_token}</code></td>

            <td class="text-center"><span class="badge {if $entry.online == 1}alert-success{else}alert-warning{/if}"><i class="{if $entry.online == 1}fa fa-bolt{else}fa fa-minus{/if}"></i></span></td>
            <td>{if $entry.last_online == ''}<i class="fa fa-minus"></i>{else}{$entry.last_online}{/if}</td>

            <td class="text-center"><span class="badge {if $entry.TXclient > 1000000}alert-danger{else}alert-success{/if}">
            {if $entry.online == 1}
            	~
            {else}
            	{$entry.TXclient}
            {/if}
            </span></td>
            <td class="text-center"><span class="badge {if $entry.linked_bases > 0}alert-success{else}alert-danger{/if}">{$entry.linked_bases}</span></td>
            <td class="text-center"><span class="badge {if $entry.pending_messages > 0}alert-danger{else}alert-success{/if}">{$entry.pending_messages}</span></td>
						<td class="text-center">
              <a class="btn btn-danger btn-xs" href="?w=client&s=delete&IDclient={$entry.IDclient}" onclick="javascript:if(!confirm('Are you sure you want to delete this Base?')) { event.stopPropagation(); return false; } else { event.stopPropagation(); }">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
					{foreachelse}
					<tr>
						<td colspan="6">No Clients, click <strong>Add New</strong> button.</td>
					</tr>
					{/foreach}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <button class="btn btn-primary" type="button" onclick="javascript:location.href='?w=client&s=edit&IDclient=-1';"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New</button>
  </div>
</div>
{/block}

{block name=javascripts}{/block}