{* Smarty *}

{extends file="blank.html"}

{block name=css}{/block}

{block name=page}
<div class="row" id="login-panel-header">
  <div class="col-md-12">
    <h1>Create your CTRL account.</h1>
    <h2>One account controls all your Bases. Still, you can create as many accounts as you want!</h2>
  </div>
</div>
<div class="row" id="login-panel">
  <div class="col-md-4 col-md-offset-4">
    <div id="login-panel-bg">
      <form role="form" action="index.php" method="post">
        <input type="hidden" name="w" value="account">
        <input type="hidden" name="s" value="register">
        <input type="hidden" name="x" value="1">
        <div class="form-group">
          <input class="form-control" placeholder="E-mail" name="email" type="email" value="{$post.email|escape}" autofocus>
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Choose Password" name="password" type="password">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Confirm your Password" name="password_again" type="password">
        </div>
        <div class="checkbox">
          <label>
          <input name="terms" type="checkbox" value="1" {if $post.terms eq "1"}checked{/if}>I have read <a href="?w=terms" target="_blank">Terms and Conditions</a>
          </label>
        </div>
        <div class="form-group">
          {$recaptcha}
        </div>
        <button class="btn btn-lg btn-success btn-block">
        <i class="fa fa-user"></i>&nbsp;Register
        </button>

        {if $error ne ""}
        <p class="error-box">
          {if $error eq "email_missing"}
          <strong>Please enter your valid e-mail!</strong>
          {/if}
          {if $error eq "email_used"}
          <strong>Please choose a different e-mail!</strong><br />
          <a href="?w=account&s=login&email={$post.email|escape}">Maybe you are trying to Sign In?</a>
          {/if}
          {if $error eq "password_missing"}
          <strong>Please choose a password with minimum 6 characters!</strong>
          {/if}
          {if $error eq "password_mismatch"}
          <strong>Your passwords do not match!</strong>
          {/if}
          {if $error eq "terms"}
          <strong>Please read Terms and Conditions!</strong>
          {/if}
          {if $error eq "recaptcha"}
          <strong>ReCAPTCHA Error. Please try again!</strong>
          {/if}
        </p>
        {/if}

      </form>
    </div>
  </div>
</div>
<div class="row" id="login-panel-footer">
  <div class="col-md-4 col-md-offset-4">
    <p>
      Already have an account? <a href="?w=account&s=login">Sign in here.</a><br />
    </p>
  </div>
</div>
{/block}

{block name=javascripts}
<script type="text/javascript">
  $(function () {
      $(".popme").popover();
      $(".popme").popover('show');
  });
</script>
{/block}